# python
.venv/
__pycache__/

# Assignment_1
Assignment_1/*.pdf

# Assignment_2
MNIST/
storedMNIST.pkl
storedChess.pkl
storedChess_Momentum.pkl
storedChess_RMSPropNesterov.pkl
ROC.png

# Assignment_3
CIFAR10/

# Assignment_4
